<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
       <title>Idea_Bank</title>
	<link href="idea_style.css" rel="stylesheet">
    <link href="menu.css" rel="stylesheet">  
    </head>
    <body>
	<div class="main-menu">
		<div class="left">
			<div class="menu-item logo"><a href=""></a></div>
            <div class="menu-item"><a href="">Майстерня</a></div>
            <div class="menu-item"><a href="">Музей</a></div>
            <div class="menu-item"><a href="">Цвинтар</a></div>
		</div>
		<div class ="right">
			<div class="menu-item"><a href="" class="search"></a></div>
			<div class="menu-item"><a href="" class="profile"></a></div>
		</div>
	</div>
        <div class="image_panel">
            <div class="info-panel">
                        <span class="like-count">
                            72
                            <span class="like-panel" href="">+</span>
                        </span>
                        <span class="status-panel">Status</span>
                    </div>
        </div>
        <div class="desc_panel">
            <h4>Опис</h4>
            <p>GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG</p></div>
        <div class="tag_panel">TAG1 TAG2</div>
        <div class="apply_but">Реалiзувати iдею</div>
        <div class="comments_panel"></div>
    </body>
</html>