<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Idea_Bank</title>
    <link href="style.css" rel="stylesheet">
    <link href="menu.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="main-menu">
        <div class="left">
            <div class="menu-item logo">
                <a href=""></a>
            </div>
            <div class="menu-item"><a href="">Майстерня</a>
            </div>
            <div class="menu-item"><a href="">Музей</a>
            </div>
            <div class="menu-item"><a href="">Кладовище</a>
            </div>
        </div>
        <div class="right">
            <div class="menu-item">
                <a href="" class="search"></a>
            </div>
            <div class="menu-item">
                <a href="" class="profile"></a>
            </div>
        </div>
    </div>
    <div class="navigator">
        <div class="left">
            <div class="create-item"><a href="" class="create">Створити ідею</a>
            </div>
        </div>
        <div class="right">
            <div class="nav-item active"><a href="">Нові</a>
            </div>
            <div class="nav-item"><a href="">Популярні</a>
            </div>
            <div class="nav-item">
                <a href="" class="nav-style"></a>
            </div>
        </div>
    </div>
    <div class="table">
        <div class="column">
            <div class="idea" style="border-top-color: #26a65b">
                <div class="image-panel">
                    <div class="info-panel">
                        <span class="like-count">
                            72
                            <span class="like-panel" href="">+</span>
                        </span>
                        <span class="status-panel">Status</span>
                    </div>
                </div>
                <div class="text-panel">
                    <h3>Идея</h3>
                    <p>dsjfhdsfjksdjfksdjfksdjfkdsjfksdjfksjfsjfkdsjfk</p>
                </div>
                <div class="tag-panel">
                    # Tag1 Tag2
                </div>
            </div>
            <div class="idea" style="border-top-color: #9b59b6">
                <div class="image-panel">
                    <div class="info-panel">
                        <span class="like-count">
                            72
                            <span class="like-panel" href="">+</span>
                        </span>
                        <span class="status-panel">Status</span>
                    </div>
                </div>
                <div class="text-panel">
                    <h3>Идея</h3>
                    <p>dsjfhdsfjksdjfksdjfksdjfkdsjfksdjfksjfsjfkdsjfk</p>
                </div>
                <div class="tag-panel">
                    # Tag1 Tag2
                </div>
            </div>
        </div>
        <div class="column">
            <div class="idea" style="border-top-color: #f64747">
                <div class="image-panel">
                    <div class="info-panel">
                        <span class="like-count">
                            72
                            <span class="like-panel" href="">+</span>
                        </span>
                        <span class="status-panel">Status</span>
                    </div>
                </div>
                <div class="text-panel">
                    <h3>Идея</h3>
                    <p>dsjfhdsfjksdjfksdjfksdjfkdsjfksdjfksjfsjfkdsjfk</p>
                </div>
                <div class="tag-panel">
                    # Tag1 Tag2
                </div>
            </div>
        </div>
        <div class="column">
            <div class="idea" style="border-top-color: #663399">>
                <div class="image-panel">
                    <div class="info-panel">
                        <span class="like-count">
                            72
                            <span class="like-panel" href="">+</span>
                        </span>
                        <span class="status-panel">Status</span>
                    </div>
                </div>
                <div class="text-panel">
                    <h3>Идея</h3>
                    <p>dsjfhdsfjksdjfksdjfksdjfkdsjfksdjfksjfsjfkdsjfkfgggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg</p>
                </div>
                <div class="tag-panel">
                    # Tag1 Tag2
                </div>
            </div>
        </div>
    </div>
</body>

</html>