html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    color: rgb(123, 123, 123);
    font-family: 'Roboto', sans-serif;
    font-size: 0px;
    line-height: 1.4;
    background: #ecf0f1;
    text-align: center;
}

.navigator {
    display: inline-block;
    width: 1200px;
    height: 48px;
    text-align: justify;
    margin: 15px 0 20px;
}

.navigator:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.navigator .left,
.navigator .right {
    height: 40px;
    line-height: 40px;
}

.nav-item {
    display: inline-block;
    text-align: center;
    font-size: 19px;
    border-bottom: 1px solid #7B7B7B;
    box-shadow: 1px 1px 3px #999;
    background-color: white;
    padding: 4px 20px;
}

.nav-item a {
    color: rgba(0,0,0,.8);
}

.nav-item:last-child {
    padding: 0;
    height: 48px;
    width: 48px;
    vertical-align: top;
}

.create-item {
    display: inline-block;
    text-align: center;
    font-size: 19px;
    padding: 4px 23px;
    background-color: #4285F6;
    box-shadow: 1px 1px 3px #999;
    border-radius: 3px;
}

.create-item a {
    color: white;
}

.nav-style {
    width: 100%;
    height: 100%;
    background: url("img/nav-style.png") 50% no-repeat;
    background-size: contain;
    opacity: .8;
}

.navigator .right {
    border-bottom: 1px solid #7B7B7B;
}

.active {
    background-color: #F8F8F8;
    box-shadow: 1px 1px 3px #999, 0 0 7px rgba(0, 0, 0, .15) inset;
}

.table {
    display: inline-block;
    min-width: 1000px;
}

.table:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.column {
    display: inline-block;
    width: 300px;
    padding: 0;
    margin: 0 15px;
    vertical-align: top;
}

.idea {
    width: 300px;
    margin-bottom: 20px;
    border-top: 7px solid;
    box-shadow: 1px 1px 3px #999;
    display: inline-block;
    background-color: #fff;
}

.text-panel {
    font-size: 14px;
    padding: 5px 15px;
    text-align: left;
    color: black;
}

.text-panel p {
    word-break: break-all;
}

.text-panel h3 {
    font-size: 18px;
    margin: 10px 0;
}

.tag-panel {
    height: 20px;
    padding: 5px 10px;
    background-color: #333;
    color: rgba(255,255,255,.8);
    font-size: 14px;
    text-align: left;
}

.image-panel {
    width: 100%;
    height: 150px;
    background: url('pic.jpg') no-repeat;
    background-size: cover;
    font-size: 18px;
}

.image-panel span {
    display: block;
    float: left;
}

.info-panel {
    opacity: .8;
}

.like-count {
    width: 35%;
    height: 30px;
    line-height: 30px;
    position: relative;
    background-color: white;
    font-weight: bold;
    color: black;
    cursor: default;
}

.like-panel {
    width: 35px;
    height: 30px;
    line-height: 30px;
    position: relative;
    background-color: orange;
    font-weight: bold;
    color: white;
    font-size: 19px;
    float: right !important;
    cursor: pointer;
}

.status-panel {
    height: 30px;
    line-height: 30px;
    width: 65%;
    position: relative;
    background-color: green;
    font-weight: bold;
    color: white;
    z-index: 100;
    cursor: default;
}

.arrow-left {
    width: 25px;
    height: 25px;
    position: relative;
    top: -10px;
    color: black;
    background-repeat: no-repeat;
    background-image: url("img/arrow-left.png");
    background-size: contain;
}

.arrow-right {
    width: 12px;
    height: 25px;
    position: relative;
    top: -35px;
    right: -239px;
    color: black;
    background-repeat: no-repeat;
    background-image: url("img/arrow-right.png");
    background-size: contain;
}