<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
       <title>Idea_Bank</title>
	<link href="create_style.css" rel="stylesheet">
    <link href="menu.css" rel="stylesheet">  
    </head>
    <body>
	<div class="main-menu">
		<div class="left">
			<div class="menu-item logo"><a href="">SiteLogo</a></div>
            <div class="menu-item"><a href="">Майстерня</a></div>
            <div class="menu-item"><a href="">Музей</a></div>
            <div class="menu-item"><a href="">Цвинтар</a></div>
		</div>
		<div class ="right">
			<div class="menu-item"><a href="" class="search"></a></div>
			<div class="menu-item"><a href="" class="profile"></a></div>
		</div>
	</div>
        <div class="create_panel">
            <input type="text" placeholder="Назва" class="name_input"><br>
<textarea placeholder="Опис iдеi" class="text_input" rows="3"></textarea><br>
            <div class="add_image">
                <div class="add_label">
                    <img></img>
                <span>Додати зображення</span>
                </div>
            </div>
            <input type="text" placeholder="Теги" class="tag_input"><br>
        </div>
        <div class="advices">
            <ul>
                <li>Хех</li>
                <li>Мда</li>
                <li>Уж</li>
                <li>Мем</li>
            </ul>
        </div>
        <div class="create">
            <div class="create_but">Створити</div>
        </div>
        